mixin popup(prefix, title, submitButtonText, closeButtonText='Close')
  dialog(class='popup-container' id=`${prefix}-popup-container`)
    form(class='popup-form')
      if title
        label(class=`popup-form-title`)= title

      block

      button(type='submit' class='form-button')= submitButtonText
      button(type='button' class='form-button cancel')= closeButtonText

mixin showPopupButton(prefix, title)
  button(class='show-popup-button' id=`${prefix}-show-popup-button`)= title

mixin bottomNavigationBar()
  div(class='bottom-navigation-bar')
    block